<h1>Articles Index</h1>
<%= link_to "Browse by Tag names =>", tags_path %>
<hr>
<br>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article %></li>
  <% end %>
</ul>
<br>

<%= link_to "+ Create New Article", new_article_path %>
